*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #151516;
    color: #fff;
}


.header{
    padding: 15px 0;
}

.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 40px;
    height: 40px;
}

#search{
    padding: 10px;
    border-radius: 16px;
    background: none;
    border: 1px solid #fff;
}

.btn{
    padding: 10px 15px;
    border-radius: 16px;
}

.popular{
    margin: 30px 0 40px;
}

.section__title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px
}

.movieZone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    
}

.movieCard{
    position: relative;
    width: 280px;
    height: 420px;
    cursor: pointer;
    /* border-radius:16px; */
}

.movieImg{
    width: 100%;
    height: 100%;
}

.movieCard__info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.movieCard__rate{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 3px solid black;
    background: grey;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.movieCard__rate_green{
    border: 3px solid green;
}
.movieCard__rate_yellow{
    border: 3px solid yellow;
}
.movieCard__rate_red{
    border: 3px solid red;
}

.movieCard__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5998774509803921) 100%);
    padding: 10px 15px 20px;

}

/* Modal style */

.modal{
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90vw;
    height: 90vh;
    z-index: 99;
    background: #151516;
    border-radius: 16px;
    padding: 30px;
    border: 1px solid white;
    display: none;
    gap: 30px;
}

.movie__poster{
    flex-basis: 35%;
    width: 100%;
}

.modal__info{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie__ganre{
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 32px;
}